/*
* Css Colors
* Manually adjusted to Dune
*/

    @define-color background #1A1410;

    @define-color error #E86A3F;

    @define-color error_container #BF6830;

    @define-color inverse_on_surface #1A1410;

    @define-color inverse_primary #E86A3F;

    @define-color inverse_surface #D4AE7E;

    @define-color on_background #D4AE7E;

    @define-color on_error #1A1410;

    @define-color on_error_container #E8D4B0;

    @define-color on_primary #1A1410;

    @define-color on_primary_container #E8D4B0;

    @define-color on_primary_fixed #0F0C0A;

    @define-color on_primary_fixed_variant #2D2520;

    @define-color on_secondary #1A1410;

    @define-color on_secondary_container #D4AE7E;

    @define-color on_secondary_fixed #0F0C0A;

    @define-color on_secondary_fixed_variant #2D2520;

    @define-color on_surface #D4AE7E;

    @define-color on_surface_variant #6B5540;

    @define-color on_tertiary #1A1410;

    @define-color on_tertiary_container #E8D4B0;

    @define-color on_tertiary_fixed #0F0C0A;

    @define-color on_tertiary_fixed_variant #2D2520;

    @define-color outline #4A3F35;

    @define-color outline_variant #2D2520;

    @define-color primary #E86A3F;

    @define-color primary_container #BF6830;

    @define-color primary_fixed #E86A3F;

    @define-color primary_fixed_dim #BF6830;

    @define-color scrim #000000;

    @define-color secondary #A67C52;

    @define-color secondary_container #6B5540;

    @define-color secondary_fixed #A67C52;

    @define-color secondary_fixed_dim #6B5540;

    @define-color shadow #000000;

    @define-color source_color #E86A3F;

    @define-color surface #1A1410;

    @define-color surface_bright #2D2520;

    @define-color surface_container #2D2520;

    @define-color surface_container_high #4A3F35;

    @define-color surface_container_highest #6B5540;

    @define-color surface_container_low #1A1410;

    @define-color surface_container_lowest #0F0C0A;

    @define-color surface_dim #1A1410;

    @define-color surface_tint #E86A3F;

    @define-color surface_variant #2D2520;

    @define-color tertiary #F0A860;

    @define-color tertiary_container #6B5540;

    @define-color tertiary_fixed #F0A860;

    @define-color tertiary_fixed_dim #BF6830;