/*
* GTK Colors
* Manually adjusted to Gruvbox Dark
*/

* {
    font-weight: 500; 
}

@define-color accent_color #458588;
@define-color accent_fg_color #1d2021;
@define-color accent_bg_color #458588;
@define-color window_bg_color #282828;
@define-color window_fg_color #ebdbb2;
@define-color headerbar_bg_color #282828;
@define-color headerbar_fg_color #ebdbb2;
@define-color popover_bg_color #282828;
@define-color popover_fg_color #ebdbb2;
@define-color view_bg_color #282828;
@define-color view_fg_color #ebdbb2;
@define-color card_bg_color #282828;
@define-color card_fg_color #ebdbb2;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;

.navigation-sidebar {
    background-color: @sidebar_bg_color;
    color: @window_fg_color;
}

headerbar.default-decoration {
    margin-bottom: 50px;
    margin-top: -100px;
}

/* rm -rf window shadows */
window.csd,
window.csd decoration {
    box-shadow: none;
}



/* Для Thunar */
.thunar, 
.thunar window,
treeview.view {
    font-family: "Terminus (TTF)"
}

/* Для GNOME Clocks (обычно используется такой класс) */
.clocks-view,
#clocks-pannel {
    font-family: "Terminus (TTF)"
}

/* Для Nautilus */
.nautilus-window,
nautilus-window,
.nautilus-list-view,
.nautilus-grid-view,
window#nautilus-window {
    font-family: "Terminus (TTF)";
}