* {
    primary: #83a598;
    primary-fixed: #83a598;
    primary-fixed-dim: #458588;
    on-primary: #282828;
    on-primary-fixed: #1d2021;
    on-primary-fixed-variant: #3c3836;
    primary-container: #458588;
    on-primary-container: #fbf1c7;
    secondary: #8ec07c;
    secondary-fixed: #8ec07c;
    secondary-fixed-dim: #689d6a;
    on-secondary: #282828;
    on-secondary-fixed: #1d2021;
    on-secondary-fixed-variant: #3c3836;
    secondary-container: #689d6a;
    on-secondary-container: #fbf1c7;
    tertiary: #d3869b;
    tertiary-fixed: #d3869b;
    tertiary-fixed-dim: #b16286;
    on-tertiary: #282828;
    on-tertiary-fixed: #1d2021;
    on-tertiary-fixed-variant: #3c3836;
    tertiary-container: #b16286;
    on-tertiary-container: #fbf1c7;
    error: #fb4934;
    on-error: #282828;
    error-container: #cc241d;
    on-error-container: #fbf1c7;
    surface: #282828;
    on-surface: #ebdbb2;
    on-surface-variant: #d5c4a1;
    outline: #928374;
    outline-variant: #504945;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #ebdbb2;
    inverse-on-surface: #1d2021;
    inverse-primary: #458588;
    surface-dim: #282828;
    surface-bright: #3c3836;
    surface-container-lowest: #1d2021;
    surface-container-low: #282828;
    surface-container: #32302f;
    surface-container-high: #3c3836;
    surface-container-highest: #504945;
}