@import "colors.css";

* {
    font-family: "Terminus (TTF)", "JetBrainsMono Nerd Font Propo";
    font-size: 12px;
    padding: 0;
    margin: 0;
}

window#waybar, #waybar {
    background: @background;
    color: @on_surface;
    border-bottom: 2.5px solid @on_surface;
    border-radius: 0;
    margin: 0;

    min-height: 40px; 
}

.modules-left, .modules-center, .modules-right {
    padding-bottom: 3px;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

.modules-left > widget,
.modules-center > widget,
.modules-right > widget {
    margin: 0 5px;
}




#workspaces button {
    color: @on_surface;
    padding: 0 2px;
}

#workspaces button.active {
    color: #ff6699;
}

#workspaces button.empty {
    color: #8a8a8a;
}

#power-profiles-daemon,
#custom-notification,
#custom-text,
#clock,
#network,
#battery,
#language,
#cpu,
#memory,
#temperature,
#pulseaudio,
#tray {
    padding: 0 10px;
}

#language {
    color: #ff6699;
}

#custom-text {
    margin: 0;
    color: #464646;
}

