* {
    font-family: "Cascadia Mono Medium", "JetBrainsMono Nerd Font Propo";
    font-size: 15px;
    padding: 0;
    margin: 0;
}

#waybar {
    background: #000000;
    color: #eeeeee;

}


/**
 *      _       __ _   
 *     | | ___ / _| |_ 
 *     | |/ _ \ |_| __|
 *     | |  __/  _| |_ 
 *     |_|\___|_|  \__|
 *                     
 */



#workspaces button {
    padding-left: 0.7em;
    color: #ffffff;
}

#workspaces button.empty {
    color: #8a8a8a;
}





/**
 *                _     _     _ _      
 *      _ __ ___ (_) __| | __| | | ___ 
 *     | '_ ` _ \| |/ _` |/ _` | |/ _ \
 *     | | | | | | | (_| | (_| | |  __/
 *     |_| |_| |_|_|\__,_|\__,_|_|\___|
 *                                     
 */


#clock {
    font-size: 17px;
    padding-right: 1em;
}


/**
 *           _       _     _   
 *      _ __(_) __ _| |__ | |_ 
 *     | '__| |/ _` | '_ \| __|
 *     | |  | | (_| | | | | |_ 
 *     |_|  |_|\__, |_| |_|\__|
 *             |___/           
 */


#wireplumber {
    font-size: 19px;
    padding-right: 1em;
}

#custom-power {
    padding-right: 2em;
    
}

#custom-text {
    padding-right: 1em;
    color: #8a8a8a;
}

#network,
#language,
#tray {
    padding-right: 1em;
}





