configuration {
    display-drun: "Apps:";
    display-window: "Win:";
    drun-display-format: "{name}";
    font: "Terminus (TTF) 12";
    modi: "window,run,drun";
    show-icons: true;
}

@theme "current.rasi"
