@import "colors.rasi"

* {
    dark-bg:           @surface-dim;
    light-fg:          @on-surface;
    highlight-color:   @primary;
    on-highlight:      @on-primary;
    
    text-color:        @light-fg;
    background-color:  transparent;
}

window {
    transparency:      "real";
    background-color:  @dark-bg;
    
    width:             300px;
    
    border:            2px;
    border-color:      @highlight-color;
    border-radius:     7px;
    
    location:          center;
    anchor:            center;
    padding:           10px;
}

mainbox {
    children:          [ inputbar, listview ];
    spacing:           5px;
    background-color:  transparent;
}

inputbar {
    children:          [ entry ];
    padding:           10px 10px 15px 10px;
    background-color:  transparent;
    text-color:        @light-fg;
}

entry {
    placeholder:       "Search...";
    placeholder-color: #ffffff40;
    text-color:        @light-fg;
    cursor:            text;
}

listview {
    columns:           1;
    lines:             9;
    scrollbar:         false;
    spacing:           5px;
    padding:           0px;
    background-color:  transparent;
}

element {
    orientation:       horizontal;
    padding:           8px 10px;
    spacing:           10px;
    border-radius:     7px;
    background-color:  transparent;
    text-color:        @light-fg;
    cursor:            pointer;
}

element selected {
    background-color:  @highlight-color;
    text-color:        @on-highlight;
    border:            0px;
}

element-icon {
    size:              24px;
    cursor:            inherit;
    background-color:  transparent;
    text-color:        inherit;
}

element-text {
    vertical-align:    0.5;
    background-color:  transparent;
    text-color:        inherit;
    cursor:            inherit;
}