:root {
  --cc-bg: #1E2326; /* Control Center */
  --noti-border-color: #D2C5A9;
  --noti-bg: #1E2326;
  --noti-bg-alpha: 1;
  --text-color: #D2C5A9; /* Светлый, но не чисто белый текст */
  --text-color-disabled: rgb(80, 80, 80); /* Более тусклый текст для неактивных элементов */
  --border-radius: 0px; 
  --border: 2px solid var(--noti-border-color);
  --font-size-body: 15px;
  --font-size-summary: 16px;
  --notification-icon-size: 64px;
}

notificationwindow, blankwindow {
  background: transparent;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  margin-left: 2px;
}

.notification-row .notification-background .notification .notification-default-action .notification-icon {
  min-width: var(--notification-icon-size); 
  min-height: var(--notification-icon-size);
  margin-right: 0;
}

.notification-row .notification-background {
  background: transparent;
}


.notification-row .notification-background .notification {
  background: #1E2326;
  border: var(--border);
  border-radius: var(--border-radius);
  min-width: 400px;
}

.notification-row .notification-background .notification .notification-default-action {
  color: var(--text-color);
  background: transparent;
  padding: 14px 18px 14px 20px;
}

.notification-row .notification-background .notification .notification-default-action:hover {
  background: rgba(40, 40, 40, 0.4); /* Темнее при наведении */
}

.notification-row .notification-background .notification .notification-default-action .notification-content .summary,
.notification-row .notification-background .notification .notification-default-action .notification-content .body,
.notification-row .notification-background .notification .notification-default-action .notification-content .time {
  color: var(--text-color);
  background: transparent;
  font-family: "Terminus (TTF)";
}

.close-button {
  background: transparent;
  color: var(--text-color);
  border: none;
  margin: 4px; /* Меньшие отступы для кнопки закрытия */
  padding: 4px;
}

.close-button:hover {
  background: rgba(60, 60, 60, 0.6); /* Темнее при наведении */
  opacity: 1; /* Полная видимость при наведении */
}

.control-center {
  background: var(--cc-bg);
  color: var(--text-color);
  border-radius: var(--border-radius);
  border: 2px solid #D2C5A9;
  padding: 0;
  margin: 0;
} 

.widget {
  /*background: rgba(20, 20, 20, 0.7);  Темный фон для виджетов */
  color: var(--text-color);
  border-radius: var(--border-radius);
  border: 2px solid #847f73; /* Темная рамка виджетов */
  margin: 8px 8px 8px 8px;
}

.widget-title > label,
.widget-dnd label,
.widget-inhibitors > label {
  color: var(--text-color);
  font-weight: bold; /* Жирный текст для заголовков */
  font-size: var(--font-size-summary);
}

.widget-dnd switch slider {
  background: rgb(100, 100, 100); /* Цвет ползунка переключателя */
  border: 1px solid rgb(60, 60, 60);
}

.widget-dnd switch:checked slider {
  background: rgb(180, 180, 180); /* Цвет ползунка при включении */
}


.widget-buttons-grid {
  display: none;
}
