:root {
  --cc-bg: #1E2326;
  --noti-border-color: #D2C5A9;
  --noti-bg: #1E2326;
  --noti-bg-alpha: 1;
  --text-color: #D2C5A9;
  --text-color-disabled: rgb(80, 80, 80);
  --border-radius: 0px;
  --border: 2px solid var(--noti-border-color);
  --font-size-body: 15px;
  --font-size-summary: 16px;
  --notification-icon-size: 48px;
}

notificationwindow,
blankwindow {
  background: transparent;
}

.notification-row,
.notification-background {
  background: transparent;
  border: none;
  box-shadow: none;
}

.notification-row .notification-background {
  background: transparent;
}

.notification-row .notification-background .notification {
  background: var(--cc-bg);
  border: var(--border);
  border-radius: var(--border-radius);
  min-width: 400px;
}

.notification-row .notification-background .notification .notification-default-action {
  color: var(--text-color);
  background: transparent;
  padding: 14px 18px 14px 6px;
}

.notification-row .notification-background .notification .notification-default-action:hover {
  background: rgba(40, 40, 40, 0.4);
}

.notification-row .notification-background .notification .notification-default-action .notification-icon {
  min-width: 120px;
  min-height: var(--notification-icon-size);
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  flex: 1;
  margin-left: 10px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .summary,
.notification-row .notification-background .notification .notification-default-action .notification-content .body,
.notification-row .notification-background .notification .notification-default-action .notification-content .time {
  color: var(--text-color);
  background: transparent;
  font-family: "Terminus (TTF)";
}

.close-button {
  background: transparent;
  color: var(--text-color);
  border: none;
  margin: 4px;
  padding: 4px;
}

.close-button:hover {
  background: rgba(60, 60, 60, 0.6);
  opacity: 1;
}

.control-center {
  background: var(--cc-bg);
  color: var(--text-color);
  border-radius: var(--border-radius);
  border: var(--border);
  padding: 0;
  margin: 0;
}

.widget {
  color: var(--text-color);
  border-radius: var(--border-radius);
  border: 2px solid #847f73;
  margin: 8px;
}

.widget-title > label,
.widget-dnd label,
.widget-inhibitors > label {
  color: var(--text-color);
  font-weight: bold;
  font-size: var(--font-size-summary);
}

.widget-dnd switch slider {
  background: rgb(100, 100, 100);
  border: 1px solid rgb(60, 60, 60);
}

.widget-dnd switch:checked slider {
  background: rgb(180, 180, 180);
}

.widget-buttons-grid {
  display: none;
}