/*
* Css Colors
* Manually adjusted to Everforest Hard
*/

    @define-color background #1E2326;

    @define-color error #E67E80;

    @define-color error_container #493B40;

    @define-color inverse_on_surface #272E33;

    @define-color inverse_primary #7FBBB3;

    @define-color inverse_surface #D3C6AA;

    @define-color on_background #D3C6AA;

    @define-color on_error #272E33;

    @define-color on_error_container #D3C6AA;

    @define-color on_primary #272E33;

    @define-color on_primary_container #D3C6AA;

    @define-color on_primary_fixed #1E2326;

    @define-color on_primary_fixed_variant #414B50;

    @define-color on_secondary #272E33;

    @define-color on_secondary_container #D3C6AA;

    @define-color on_secondary_fixed #1E2326;

    @define-color on_secondary_fixed_variant #414B50;

    @define-color on_surface #D3C6AA;

    @define-color on_surface_variant #9DA9A0;

    @define-color on_tertiary #272E33;

    @define-color on_tertiary_container #D3C6AA;

    @define-color on_tertiary_fixed #1E2326;

    @define-color on_tertiary_fixed_variant #414B50;

    @define-color outline #859289;

    @define-color outline_variant #7A8478;

    @define-color primary #7FBBB3;

    @define-color primary_container #384B55;

    @define-color primary_fixed #7FBBB3;

    @define-color primary_fixed_dim #384B55;

    @define-color scrim #000000;

    @define-color secondary #A7C080;

    @define-color secondary_container #3C4841;

    @define-color secondary_fixed #A7C080;

    @define-color secondary_fixed_dim #3C4841;

    @define-color shadow #000000;

    @define-color source_color #E69875;

    @define-color surface #272E33;

    @define-color surface_bright #374145;

    @define-color surface_container #2E383C;

    @define-color surface_container_high #374145;

    @define-color surface_container_highest #495156;

    @define-color surface_container_low #272E33;

    @define-color surface_container_lowest #1E2326;

    @define-color surface_dim #272E33;

    @define-color surface_tint #7FBBB3;

    @define-color surface_variant #374145;

    @define-color tertiary #D699B6;

    @define-color tertiary_container #463F48;

    @define-color tertiary_fixed #D699B6;

    @define-color tertiary_fixed_dim #463F48;