* {
    primary: #7FBBB3;
    primary-fixed: #7FBBB3;
    primary-fixed-dim: #384B55;
    on-primary: #272E33;
    on-primary-fixed: #1E2326;
    on-primary-fixed-variant: #414B50;
    primary-container: #384B55;
    on-primary-container: #D3C6AA;
    secondary: #A7C080;
    secondary-fixed: #A7C080;
    secondary-fixed-dim: #3C4841;
    on-secondary: #272E33;
    on-secondary-fixed: #1E2326;
    on-secondary-fixed-variant: #414B50;
    secondary-container: #3C4841;
    on-secondary-container: #D3C6AA;
    tertiary: #D699B6;
    tertiary-fixed: #D699B6;
    tertiary-fixed-dim: #463F48;
    on-tertiary: #272E33;
    on-tertiary-fixed: #1E2326;
    on-tertiary-fixed-variant: #414B50;
    tertiary-container: #463F48;
    on-tertiary-container: #D3C6AA;
    error: #E67E80;
    on-error: #272E33;
    error-container: #493B40;
    on-error-container: #D3C6AA;
    surface: #272E33;
    on-surface: #D3C6AA;
    on-surface-variant: #9DA9A0;
    outline: #859289;
    outline-variant: #7A8478;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #D3C6AA;
    inverse-on-surface: #272E33;
    inverse-primary: #7FBBB3;
    surface-dim: #272E33;
    surface-bright: #374145;
    surface-container-lowest: #1E2326;
    surface-container-low: #272E33;
    surface-container: #2E383C;
    surface-container-high: #374145;
    surface-container-highest: #495156;
}